@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.form-table.epm-th th {
    vertical-align: top;
    text-align: left;
    padding: 20px 10px 20px 0;
    width: 300px;
    line-height: 1.3;
    font-weight: 600;
}

select.epm-select {
    min-width: 18em;
}
p.epm-description {
    font-style: italic;
}
div#epm_basics h2,
div#epm_advanced h2 {
    font-size: 1.3em;
    margin: 1em 0;
    font-weight: 500;
}
.wp-admin a.epm-docs-link {
    text-decoration: none;
    box-shadow: none;
    outline: none;
    height: auto;
    width: auto;
    font-size: 30px;
}

a {
    color: #2271b1;
    transition-property: border, background, color;
    transition-duration: .05s;
    transition-timing-function: ease-in-out;
}
a:focus {
    box-shadow: none;
    outline: none;
}
/* CSS for Collapsible Panels */
.collapsible-panels .panel {
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.collapsible-panels .panel-header {
    cursor: pointer;
    background-color: #f5f5f5;
    padding: 10px;
}

.collapsible-panels .panel-content {
    display: none;
    padding: 10px;
}

/* CSS to show the active panel */
.collapsible-panels .panel-header.active {
    background-color: #ddd;
    /* Add styling for the active panel header */
}

.epm_label {
    display: inline-block;
    min-width: 150px;
    font-weight: bold;
}

.regular-text {
    width: 30em;
}
/* custom.css */
.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
    /* Your desired active tab background color */
    color: #000;
    /* Your desired active tab text color */
}

#epm_ace_editor {
    position: relative;
    width: 550px;
    height: 400px;
}
.epm-wrap,
.epm-wrap p {
    font-size: 15px;
    max-width: 1050px;
    padding: 10px 0;
}

.epm-admin-bar>.description {
    margin-top: 23px;
}

table.widefat.epm-label tr td label {
    margin-right: 32px;
}
.epm-mt-10 {
    margin-top: 20px;

}
.epm-label-placeholder-settings .form-table tr td label {
    display: block;
    font-weight: bold;
    margin: 10px 0;
}

.epm-label-placeholder-settings .form-table tr td input[type="text"],
.epm-label-placeholder-settings .form-table tr td textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.wrap.epm-label-placeholder-settings table tr {
    /* width: 20%!important; */
    display: inline-grid;
    width: 25%;
}

.epm-label-placeholder-settings .form-table th {
    padding: 20px 10px 5px 10px;
    line-height: 1;
}




/* Define the two-column layout */
// .two-column {
//     display: flex;
//     justify-content: space-between;
//     align-items: flex-start;
//     flex-wrap: wrap;
// }
/* Style the individual columns */
// .column {
//     width: calc(50% - 10px);
//     /* Adjust the width and margin as needed */
//     margin-bottom: 20px;
//     /* Add margin between columns */
//     padding: 10px;
//     /* Add padding within columns */
//     box-sizing: border-box;
// }

// /* Clear the float after the columns */
// .clearfix::after {
//     content: "";
//     display: table;
//     clear: both;
// }

/* Apply clearfix to the form to clear the float */
form {
    overflow: hidden;
}
// /* Styles for the two-column layout using CSS Grid */
// .column-container {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     /* Creates two equally sized columns */
//     gap: 20px;
//     /* Adjust as needed */
// }

// .field-container {
//     display: block;
//     margin-bottom: 10px;
//     /* Adjust as needed */
// }

@media screen and (max-width: 782px) {
    .wrap.epm-label-placeholder-settings table tr {
        /* width: 20%!important; */
        display: inline-grid;
        width: 100%;
    }

    .epm-label-placeholder-settings .form-table th {
        padding: 20px 10px 20px 0px;
        line-height: 1.3;
    }

    .epm-label-placeholder-settings .form-table tr td label {
        display: block;
        font-weight: bold;
        margin: 0;
    }

}
// /* Disable focus styles for form inputs */
// input:focus,
// textarea:focus,
// select:focus,
// button:focus {
//     outline: none;
//     box-shadow: none;
// }

// /* Disable focus styles for buttons */
// button:focus {
//     outline: none;
//     box-shadow: none;
// }

input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=number]:focus,
input[type=tel]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=week]:focus,
input[type=time]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=color]:focus,
.site textarea:focus {
    color: var(--form--color-text);
    outline-offset: none;
    outline: none !important;
}